* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.container {
  width: 1110px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

.header {
  padding: 16px;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.info a,
p,
.sign a {
  color: #969696;
}

a:hover {
  color: #ffffff;
}

.header-top-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info,
.sign {
  display: flex;
}

.sign span {
  color: #969696;
  margin: 0 5px;
}

.info-link {
  border-left: 1px solid #969696;
  padding-left: 10px;
  margin-left: 10px;
}
.info-link:first-child {
  border-left: none;
  padding-left: 0px;
}

.header-top-right {
  max-width: 130px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-top-right img {
  margin-right: 10px;
}

.header-bottom {
  height: 80px;
  display: flex;
  justify-content: space-between;
  background-color: black;
}

.logo-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-nav-wrapper {
  max-width: 535px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header-nav-item-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #969696;
}

.header-nav-item {
  height: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-nav-item a {
  color: #969696;
}

.nav-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-wrapper {
  height: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  padding: 160px 0;
  background: url(./img/banner.jpg) no-repeat center/cover;
}

.banner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-logo-wrapper {
  max-width: 320px;
  width: 100%;
  min-height: 320px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
}
