@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a {
  color: #000000;
  cursor: pointer;
  outline: none;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.header {
  background-color: #000000;
  font-family: "PT Sans", sans-serif;
}

.header-top {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  color: #969696;
  font-size: 12px;
}

.header-top a:hover {
  color: white;
}

.header-top-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #969696;
}

.info a,
.sign a {
  color: #969696;
}

.info-link {
  border-left: 1px solid #969696;
  padding-left: 10px;
  margin-left: 10px;
}
.info-link:first-child {
  border-left: none;
  padding-left: 0px;
}

.header-top-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-top-right img {
  margin-right: 10px;
}

.header-bottom {
  height: 80px;
  background-color: #0f0f0f;
  display: flex;
  justify-content: space-between;
}

.logo-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-nav-wrapper {
  max-width: 535px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header-nav-item-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #969696;
  text-transform: uppercase;
}

.header-nav-item {
  height: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
}

.header-nav-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #969696;
}

.header-nav-item a:hover {
  color: white;
}

.header-nav-item:hover {
  background-color: #1f1f1f;
  cursor: pointer;
}

.nav-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.item-wrapper {
  height: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-wrapper:last-child {
  padding: 0;
}

.banner {
  padding: 160px 0;
  background: url(./img/banner.jpg) no-repeat center/cover;
}

.banner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-logo-wrapper {
  max-width: 320px;
  width: 100%;
  min-height: 320px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 5px solid white;
  margin-bottom: 80px;
}

.logo-banner-wrapper {
  border-bottom: 2px solid white;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-family: "PT Sans", sans-serif;
  margin-bottom: 8px;
}

.logo-banner {
  margin-bottom: 8px;
}

.city {
  text-transform: uppercase;
  color: white;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
}

.banner-text-wrapper {
  max-width: 730px;
  width: 100%;
}

.banner-text {
  color: white;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 24px;
  text-align: center;
}
