.brend {
  background-color: #0f0f0f;

  &__container {
    padding: 60px 10px 80px 10px;

    @include tablet_md {
      padding: 50px 10px;
    }
  }
}

.brend-wrapper {
  @include flex(center, center, column);

  &__title {
    position: relative;
    font-family: "PlayfairyRegular";
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
    padding-bottom: 40px;

    @include mobile {
      font-size: 30px;
    }

    @include mobile_sm {
      font-size: 22px;
    }

    &:before {
      content: "";
      position: absolute;
      width: 120px;
      height: 1px;
      background-color: white;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
    }
  }
}

.brend-catalog {
  @include flex(center, center, row);
  flex-wrap: wrap;

  &__coco {
    margin-left: 30px;

    @include tablet_md {
      margin-left: 0;
    }
  }
}
