.mailing {
  background: url(../img/mailing.png) no-repeat center/cover;
  padding: 80px 0 120px 0;

  @include desktop {
    padding: 80px;
  }

  @include tablet_md {
    padding: 50px;
  }

  @include mobile {
    padding: 50px 20px;
  }

  &-wrapper {
    @include flex(center, space-between, row);

    @include desktop {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &-box {
    &__title {
      font-family: "PlayfairyRegular";
      font-size: 24px;
      text-transform: uppercase;
      margin-bottom: 40px;

      @include desktop {
        font-size: 36px;
        text-align: center;
      }
    }

    &__info-mailing {
      font-family: "PTRegular";
      font-size: 14px;
      line-height: 21px;
      margin-bottom: 35px;

      @include desktop {
        text-align: center;
      }
    }

    &__mail-button {
      padding: 14px 20px;
      background-color: black;
      color: white;
      font-family: "PTRegular";
      font-size: 14px;
      text-transform: uppercase;
      cursor: pointer;
      outline: none;
      border: none;
    }

    &__mailing-input-wrapper {
      @include flex(stretch, center, row);

      @include desktop {
        display: flex;
        justify-content: center;
      }

      @include mobile_sm {
        flex-direction: column;
      }
    }
  }
}

.info-shop {
  max-width: 350px;
  width: 100%;
  padding-right: 30px;

  @include desktop {
    max-width: none;
    padding-right: 0;
    text-align: center;
  }

  &__title {
    font-family: "PlayfairyRegular";
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 40px;

    @include desktop {
      font-size: 36px;
      text-align: center;
    }
  }

  &__info-mailing {
    font-family: "PTRegular";
    font-size: 14px;
    line-height: 21px;

    @include desktop {
      margin-bottom: 40px;
    }
  }
}

.category {
  max-width: 280px;
  width: 100%;
  margin-right: 90px;

  @include desktop {
    margin-right: 0;
    margin-bottom: 20px;
  }

  &__title {
    font-family: "PlayfairyRegular";
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 40px;

    @include desktop {
      font-size: 36px;
      text-align: center;
    }
  }

  &__category-product-wrapper {
    @include mobile_sm {
      margin-left: 10px;
    }
  }
}

.category-product-wrapper {
  @include flex(space-between, center, row);
  flex-wrap: wrap;
  cursor: pointer;

  @include mobile_sm {
    justify-content: center;
  }

  &__category-product {
    width: fit-content;
    padding: 10px 20px;
    background-color: #0f0f0f;
    margin-bottom: 20px;
    text-align: center;

    @include mobile_sm {
      margin-right: 10px;
    }
  }
}

.input-wrapper {
  max-width: 210px;
  width: 100%;
  height: 42px;
  @include flex(center, center, row);

  @include mobile_sm {
    margin-bottom: 20px;
  }

  &__mail-input {
    padding: 11px 12px;
    background-color: rgba(255, 255, 255, 0.4);
    color: rgb(255, 255, 255);
    border: none;
    outline: none;

    @include mobile_sm {
      padding: 11px 20px;
      text-align: center;
    }

    &::placeholder {
      color: rgb(255, 255, 255);
    }
  }
}
